<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Our title lol -->
    <title>FoosMania</title>

    <link rel="stylesheet" href="/flag-icons/css/flag-icons.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/kits.js"></script>
</head>

<body>
    <main id="app-content" class="page-shell">
        <div class="initial-loading">
            <div class="spinner"></div>
            <p>Loading FOOFA Street...</p>
        </div>
    </main>

    <script src="/javascript/socket.js"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>